.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 100px 100px;
    gap: 10px;
}

.box{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bolder;
}
.container .box:nth-child(odd){
    background-color: rgb(85, 86, 86);
    color: white;
}

.container .box:nth-child(even){
    background-color: rgb(230, 226, 226);
    color: #000;
}

.box3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box6{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box7{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box8{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
