body{
    display: flex;
    justify-content: center;
    align-items: center; 
 }
 div {
     background-color: rgb(12, 210, 174);
     padding: 20px;
     border-radius: 20px;
 }
 span{
     font-weight: bold;
 }

 div:hover{
    opacity: 50%;
 }
 