body,html{
    margin: 0;
    height: 100%;
}

.div_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center_div {
    width: 500px;
    height: 500px;
    background-color: greenyellow;
}