/*custom color palette */
:root {
    --primary-color: #3498db; 
    --secondary-color: #e74c3c; 
    --background-color: #f2f2f2; 
    --form-background-color: #94919155;
}


.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--form-background-color);
    border-radius: 5px;
    box-shadow: -3px 0 10px  rgba(0, 0, 0, 0.2);
} 

form {
    /* display: flex; */
    display: grid;
    /* flex-direction: column; */
} 

label {
    margin-bottom: 8px;
    font-weight: bolder;
    color: var(--primary-color);
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

.submit-section{
    text-align: center;
}

 .submit-section :hover {
    opacity: 0.7;
} 
