/* Block */
.division {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

/* Element */
.paragraph__intro {
    background-color: #a3d0de;
}
.paragraph__aside {
    background-color: #81dcd3;
}


/* Modifier */
.paragraph__main--highlighted {
    background-color: yellow;
    font-weight: bold;
}
