body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    position: absolute;
}

.red {
    
    background-color: red;
    z-index: 1; 
}

.blue {
    
    background-color: blue;
    z-index: 0; 
}
